[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=BabySmix
Comment=Baby-safe Ubuntu fun!
Exec=/opt/extras.ubuntu.com/bin/BabySmix
Categories=Game
Icon=/opt/extras.ubuntu.com/babysmix/icons/BabySmix.svg
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Name[en_US]=BabySmix
